body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

#container{
    text-align: center;
    margin-top: 5%;
}

#title{
    font-size: 36px;
    font-family: 'Quicksand';
    margin: 0;
}

#desc{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#generateButton{
    background-color: transparent;
    color: deeppink;
    border: 1px solid deeppink;
    border-radius: 50px;
    font-family: 'Quicksand';
    font-size: 24px;
    transition: .2s ease-in;
    cursor: pointer;
    padding: 10px 20px;
}

#generateButton:hover{
    color: white;
    background-color: deeppink;
}

#newPassword{
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 5%;
    width: 300px;
}